/* Қараңғы тема */
body.dark-theme {
    background-color: #0f172a;
    color: #f8fafc;
}

body.dark-theme .about-section,
body.dark-theme .card {
    background-color: #1e293b;
    color: #f8fafc;
}

body.dark-theme .about-section h1 {
    color: #38bdf8;
}